<h1>TEST di query per estrarre i servizi di ristorazione da uno stato</h1>

In [19]:
import overpy
def number_node(stato = "FR"):
    api = overpy.Overpass()

    query = '''
        ( area["ISO3166-1"={}]; )->.a;
        node["amenity"~"bar|cafe|pub|internet_cafe|fast_food|restaurant"] (area.a);
        (._;>;);
        out body;'''.format(stato)
    result = api.query(query)
    print(stato, len(result.nodes))
    return {"num_nodi": len(result.nodes), "nodi": result}

<h1> numero di nodi (punti di ristorazione) individuati dalla query</h1>

In [31]:
risultati = number_node(stato = 'IE')
print(risultati['num_nodi'])

6658

<h1> elenco dei primi 7 nodi </h1>

In [25]:
for item in risultati["nodi"].nodes[0:7]:
    print(item.tags, item.lat, item.lon)

{'cuisine': 'indian', 'amenity': 'restaurant', 'addr:street': 'Kilmacud Road Lower', 'name': 'Indian Summer'} 53.2884983 -6.2057489
{'amenity': 'restaurant'} 54.0393202 -7.7142799
{'created_by': 'Potlatch 0.5c', 'amenity': 'pub', 'name': 'Traders'} 53.3068846 -6.3373313
{'amenity': 'pub', 'name': 'Boot Inn'} 53.4318527 -6.2639303
{'toilets:wheelchair': 'yes', 'wheelchair': 'yes', 'amenity': 'pub', 'name': 'The Harbourmaster'} 53.3497415 -6.2490911
{'wheelchair': 'yes', 'amenity': 'restaurant', 'addr:street': 'Deerpark Road', 'name': 'Union Cafe'} 53.2964377 -6.2113258
{'addr:city': 'Dublin', 'wheelchair': 'no', 'amenity': 'pub', 'name': 'Le Monde', 'addr:country': 'IE', 'addr:street': 'Store Street', 'addr:housenumber': '21'} 53.3500620 -6.2526730

<h1> raccolta dati nuts0 da OSM su ristorazione </h1>

In [7]:
import pandas as pd
import os
import numpy as np

In [8]:
#recupero la tabella di eurostat con i dati sulle unità locali della ristorazione 
data = pd.read_excel("I56_eurostat.xlsx")

In [26]:
data["num_nodi"] = np.nan

In [27]:
data.set_index("CodiceMAP", inplace = True)

In [34]:
for stato in data.index:
    try:
        data.loc[stato, "num_nodi"] = number_node(stato = stato)['num_nodi']
    except:
        data.loc[stato, "num_nodi"] = "error"

In [ ]:
<h1> risultato del primo tentativo </h1>

In [41]:
data[[2014, "Nome", "num_nodi"]]

             2014                      Nome num_nodi
CodiceMAP
FR         284583                    FRANCE        0
ES         268108                    ESPAÑA        0
IT         266162                    ITALIA    65764
DE         207282               DEUTSCHLAND   142332
UK         149750            UNITED KINGDOM        0
PT          81853                  PORTUGAL    16163
EL          76224                    Greece    error
NL          52919                 NEDERLAND    error
CZ          51894           ČESKÁ REPUBLIKA    error
BE          47091           BELGIQUE-BELGIË    12243
PL          39647                    POLSKA    error
AT          39178                ÖSTERREICH    19127
HU          27096              MAGYARORSZÁG    error
SE          26960                   SVERIGE    error
BG          22074                  BULGARIA    error
RO          20183                   Romania    error
DK          15443                   DANMARK    error
SK          13710       SLOVENSKÁ REPUBLIKA    error
FI          12682           SUOMI / FINLAND    error
NO          10486                     NORGE    error
IE           8768                   IRELAND    error
SI           8575                 SLOVENIJA    error
CY           5107           ΚΥΠΡΟΣ / KIBRIS    error
LT           4331                   LIETUVA    error
LV           4147                   LATVIJA    error
LU           2776  LUXEMBOURG (GRAND-DUCHÉ)    error
MT           2050                     MALTA    error
EE           1867                     EESTI    error